$color_2:#26a69a;


@import "materialize/materialize";

@mixin min-width($px) {
  @media (min-width: $px) {
    @content;
  }
}

@mixin max-width($px) {
  @media (max-width: $px) {
    @content;
  }
}


#nav_bottom{
	position:fixed;
	bottom:0;
	left:0;    
	width:100%; 
	z-index:1000;
	
	.tab{
		font-size:30px;
	}
}  
.content{
	margin-bottom:70px;
	.row{
		margin-left:0;
		margin-right:0;
	}
}

.preloader-wrapper{
	position:fixed;
	top:40%;
	left:50%;
	margin-left:-32px;
	
}


h2{
	margin:0;
	font-size:16px;
	text-align:center;
	padding: 10px 0;
	color:#fff;
	font-weight:bold;
	@extend .grey, .darken-3;
}

.card-title{
}

.card{
	display:none;
}

@media #{$medium-and-down} {
	
}

.card{
	.cat{
		background:$color_2;
		color:#fff;
	}
	.card-date{
		text-align:right;
		font-weight:300;
		margin-top:0;
		margin-bottom:0;
	}
	.card-hour{
		text-align:right;
		font-weight:300;
		font-size:24px;
		margin-bottom:0;
		margin-top:0;
	}
	.card-address{
		text-align:right;
		font-weight:300;
		margin-top:0;
	}
	.btn_favorite.added{
		background:red;
	}
}


.filtres{
	width:90%;
	margin:0 auto;
}


#tab4{
	h2{
		margin-bottom:20px;
		i{
			font-size:15px;
		}
	}
	.container{
		margin-bottom:20px;
	}
	.switch{
		margin-bottom:5px;
		label{
			font-size:22px;
			padding-left:70px;
		}
		position:relative;
		span{
			position:absolute;
			top:50%;
			left:0;
			transform:translateY(-50%);
		}
	}
}

.row{
	margin-left:0;
	margin-right:0;
}
.card-content .card-title{
	position:relative;
	width:95%;
	i{
		position:absolute;
		top:0px;
		right:-20px;
	}
}
.card-reveal .card-title{
	position:relative;
	i{
		position:absolute;
		top:-10px;
		right:-10px;
	}
}